/* Global Styles */
* {
  box-sizing: border-box;

}

html {
  font-size: 16px;
}

body {
  padding: 0px;
  margin: 0px;
}
.image-container {
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

/* Banner Section */

p {
  min-width: 200px;
  min-height: 200px;
}

#banner {
  height: 46rem;
  background-image: url('heart.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner h1 {
  font-size: 3.75rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
}

/* Blog Post */

#blog {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
}

#blog .post {
  width: 52%;
  margin-top: 12.5%;
  margin-bottom: 7.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.8;
  color: #310b0b;
  text-shadow: 2px 2px rgb(231, 219, 217);
}

.post h2 {
  font-size: 1.875rem;
  text-shadow: 2px 2px rgb(3, 16, 88);
}

ul.mainnav{
  width: 100%;
  overflow: auto;
  padding: 20px;
  background-color: red;
  display: flex;
  justify-content: space-around;
  margin-top: -20px;
  position: fixed;
}

.mainnav li{
    list-style: none;
}
/* .post h3 {
  font-size: 1.125rem;
  color: #999999;
} */

.post .opening-line {
  margin-top: 4.1875rem;
  margin-bottom: 1.5rem;
  color: black;
  font-weight: bold;
}

.post .image-container {
  width: 100%;
}

#intresse {
  padding-top: 90px;
  text-align: center;
  background-color: rebeccapurple;
}

/* Blog Images */

.images {
  margin-bottom: 20%;
}

.images .image-container {
  display: inline-block;
  width: 50%;
}

/* Footer */

footer {
  display: inline;
  padding: 1rem 0;
  border-top: 1px solid #122da3;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  color: #0d376e;
  text-align: center;
}
