/* Global Styles */
* {
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;

}

html {
  font-size: 16px;
}

body {
  padding: 0px;
  margin: 0px;
  
}
.image-container {
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

/* Banner Section */

p {
  min-width: 200px;
  min-height: 200px;
}

#banner {
 width: 100%;
}


/* Blog Post */

#blog {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
}

#blog .post {
  width: 80%;
  margin-top: 12.5%;
  margin-bottom: 7.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.8;
  color: white;
}

.post h2 {
  font-size: 1.875rem;

}


ul.mainnav{
  width: 100%;
  overflow: auto;
  padding: 20px;
  background-color: red;
  display: flex;
  justify-content: space-around;
  position: fixed;
  margin: 0;
}

.mainnav li{
    list-style: none;
}

.post .opening-line {
  margin-top: 4.1875rem;
  margin-bottom: 1.5rem;
  color: orange;
  font-weight: bold;
}

.post .image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#intresse {
  padding-top: 90px;
  text-align: center;
  background-color: rebeccapurple;
}

/* Blog Images */

.images {
  margin-bottom: 20%;
}

.images .image-container {
  display: inline-block;
  width: 50%;
}

/* Page 2 */

#mainContainer2 {
  padding-top: 60px;
}

/* Footer */

footer {
  display: inline;
  padding: 1rem 0;
  border-top: 1px solid #122da3;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  color: #0d376e;
  text-align: center;
}
