/* Global Styles */
* {
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;

}

html {
  font-size: 16px;
}

body {
  padding: 0px;
  margin: 0px;
  
}
.image-container {
  overflow: hidden;

}

.image-container2 {
  padding: 30px;
  overflow: hidden;
  
}

.image-container img , .image-container2 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: white;
}

img {
  border: 3px solid black;
}

/* Banner Section */

#bigP {
  width: 100%;
  padding: 40px;

}


#banner {
  width: 110%;
}


/* Blog Post */

#blog {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
}

#blog .post {
  width: 80%;
  margin-top: 12.5%;
  margin-bottom: 7.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.8;
  color: white;
}

.post h2 {
  font-size: 1.875rem;
}


ul.mainnav{
  width: 100%;
  overflow: auto;
  padding: 20px;
  background-color: red;
  display: flex;
  justify-content: space-around;
  position: fixed;
  margin: 0;
}

.mainnav li{
    list-style: none;
}

.post .opening-line {
  margin-top: 4.1875rem;
  margin-bottom: 1.5rem;
  color: orange;
  font-weight: bold;
}

.post .image-container  {
  width: 100%;
  display: flex;
  justify-content: center;
}

#intresse {
  padding-top: 50px;
  text-align: center;
  background-color: rebeccapurple;
  font-size: 20px;
}

ul li{
  list-style: none;
}

#intresseLista {
  width: 100%;
}

/* Blog Images */

.images {
  padding-bottom: 5%;
}

.images .image-container {
  display: inline-block;
  width: 50%;
}

/* Page 2 */

#mainContainer2 {
  padding-top: 60px;
  background-color: purple;
  text-align: center;
}

audio {
  margin: 50px;

}

/* Footer */

footer {
  padding: 1rem 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  background-color: red;
}

footer p {
  display: flex;
  justify-content: space-evenly;
}
